#firebase
.firebase/
.firebaserc
firebase.json

#amplify
amplify/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

#real data
data/companies.json

#app
build/
dist/
node_modules/